<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Panel Administrador</title>
</head>

<body>

<h1>Panel de Administración</h1>

<p>
<a href="/admin/new?token={{token}}">
Crear Robot
</a>
</p>

<table border="1">

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Modelo</th>
<th>Precio</th>
<th>Foto</th>
</tr>

{% for r in robots %}

<tr>
<td>{{r.id}}</td>
<td>{{r.nombre}}</td>
<td>{{r.modelo}}</td>
<td>{{r.precio}}</td>

<td>
{% if r.imagen %}
<img src="/uploads/{{r.imagen}}" height="60">
{% endif %}
</td>

</tr>

{% endfor %}

</table>

<p>
<a href="/">Ver página pública</a>
</p>

</body>
</html>
