<!DOCTYPE html>
<html>
<head>
<title>INKATECH Robotics</title>

<style>

body{
background:#0f1f3d;
color:white;
font-family:Arial;
}

h1{
color:#f5c542;
}

a{
color:#36b5e6;
text-decoration:none;
}

.robot{
background:#162a4f;
padding:20px;
margin:20px;
border-radius:10px;
}

</style>

</head>

<body>

<h1>INKATECH Robotics</h1>

{% for r in robots %}
<div class="robot">

<h2>{{r.nombre}}</h2>

<p>Modelo: {{r.modelo}}</p>
<p>Precio: {{r.precio}}</p>

<a href="/robot/{{r.id}}">Ver robot</a>

</div>
{% endfor %}

</body>
</html>
